.detailCard {
  width: 100%;
  padding: 16px 20px;
  margin-top: 32px;
  background-color: var(--tint-orange-60);
  border-radius: 8px;
  box-shadow: var(--shadow-m);
}

.date {
  font-size: var(--heading-m);
}

.contentWrapper {
  display: grid;
  /* gap: 16px; */
  grid-template-columns: repeat(4, 1fr);
  /* background-color: var(--tint-blue-80); */
  padding: 12px 0;
  margin-top: 8px;
  font-size: var(--text-big);

  /* background-color: antiquewhite; */
  background-color: var(--tint-orange-80);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.contentWrapper span {
  font-weight: 600;
}

.contentWrapper h6 {
  font-size: var(--text-big);
  color: var(--shade-orange-50);
}

.contentWrapper img {
  align-self: center;
  width: 80px;
  height: 80px;
  margin-bottom: auto;

  /* background-color: var(--tint-blue-80); */
  /* background-color: var(--tint-blue-90); */
  background-color: #fff;
  border-radius: 100%;
  box-shadow: var(--shadow-s);
}

.contentColWithIcon {
  display: flex;
  gap: 4px;
  align-items: center;
}

.contentCol {
  position: relative;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  gap: 12px;
  padding: 16px;
  border-right: 2px solid var(--tint-orange-30);
}

.contentCol:last-child {
  border: none;
}

.contentCol ion-icon {
  width: 20px;
  height: 20px;
}

.border {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border-right: 2px solid var(--tint-orange-30);
}

.hours {
  display: grid;
  grid-template-columns: repeat(24, 150px);
  gap: 12px;
  padding: 24px;
  overflow-x: scroll;
  background-color: var(--tint-orange-90);
}
