.timerName {
  font-size: 24px;
  text-align: center;
}

.timerWrapper {
  display: flex;
  justify-content: space-between;
}

.timerTime {
  font-size: 64px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s;
}

.timerTime:hover,
.timerTime:active {
  color: var(--shade-orange-10);
}

.timerButtons {
  display: flex;
  gap: 10px;
}

.timerButtons ion-icon {
  width: 48px;
  height: 48px;
}

.timerButton {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 580px) {
  .timerTime {
    font-size: 48px;
  }

  .timerName {
    font-size: 18px;
  }
}
