.wrapper {
  position: fixed;
  top: 30vh;
  left: 50%;
  z-index: 100;
  z-index: 5;
  width: 400px;
  max-width: 1400px;
  /* margin: 64px auto 32px; */
  margin: 0 auto 32px;
  overflow: hidden;
  border-radius: 8px;
  transform: translate(-50%, -50%);
}

.timerForm {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 16px;
  margin: auto;
  font-size: var(--text-big);
  /* background-color: var(--tint-orange-20); */
  background-color: var(--orange-300);
  border-radius: 8px;
  box-shadow: var(--shadow-m);
}

.timerFormHeading {
  font-size: var(--heading-s);
}

.timerFormList {
  list-style: none;
}

.timerFormList li {
  display: flex;
  flex-direction: column;
}

.timerFormList input {
  width: 200px;
}

.timerFormList label {
  margin: 4px 0;
}

.timerFormList input[type='number'] {
  width: 80px;
}

.timerFormList input[type='text'] {
  margin-bottom: 20px;
}

.timerForm button {
  align-self: flex-end;
}

.closeBtn {
  position: absolute;
  top: 8px;
  right: 8px;
}

li.timerFormListTime {
  flex-direction: row;
  gap: 10px;
  margin-top: 20px;
}

.timerFormListTime > p {
  font-size: var(--text-huge);
  transform: translateY(5px);
}

.timerFormListTime label {
  display: flex;
  justify-content: center;
}

.border {
  margin: 30px 0;
  border-bottom: 3px solid var(--shade-orange-20);
}

.modal {
  /* background-color: #00bfb3; */
  /* color: #023436; */

  /* position: fixed;
  top: 30vh;
  width: 400px;
  left: 50%;
  z-index: 100;
  overflow: hidden;

  border-radius: 8px;

  transform: translate(-50%, -50%);
  z-index: 5; */
}
