.detailWrapper {
  max-width: 1000px;
  padding: 128px 0 86px;
  margin: auto;
}

.city {
  font-size: var(--heading-l);
  text-align: center;
}

.headerWrapper {
  position: relative;
}

.headerWrapper button {
  position: absolute;
  top: 50%;
  font-size: var(--text-big);
  font-weight: 500;
  /* left: 20%; */
  transform: translateY(-50%);
}

.headerWrapper button ion-icon {
  vertical-align: middle;
}
