.hour {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
  padding: 8px;
  border-right: 2px solid var(--tint-blue-60);
}

.hour img {
  width: 70px;
  height: 70px;
}

.hour:last-child {
  border: none;
}

.time {
  font-size: var(--text-big);
  color: var(--shade-orange-vivid-80);
}

.withIcon {
  display: flex;
  gap: 4px;
  align-items: center;
}

.temp {
  font-size: var(--text-medium);
  font-weight: 500;
}

.humidity ion-icon {
  width: 24px;
  height: 24px;
  color: var(--color-blue-first);
}

.wind ion-icon {
  width: 24px;
  height: 24px;
  color: var(--shade-orange-vivid-20);
}
