.btn,
.btn:link,
.btn:visited {
  position: relative;
  display: block;
  padding: 8px 16px;
  font-weight: 500;
  color: var(--grey-700);
  text-decoration: none;
  transition: all 0.3s;
  /* font-size: var(--text-big); */
}

.btn:hover,
.btn:active {
  background-color: var(--orange-100);
}

.content {
  display: flex;
  gap: 8px;
  align-items: center;
  list-style: none;
}

.active::after {
  position: absolute;
  /* top: 50%; */
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  content: '';
  /* transform: translateY(-50%); */
  background-color: var(--orange-600);
}

.btn.active {
  background-color: var(--orange-100);
}

.btn.active:hover,
.btn.active:active {
  background-color: var(--orange-200);
}
