.navList {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: space-between;
  list-style: none;
}

.navContainer {
  display: flex;
  justify-content: center;
}

.navListItem {
  position: relative;
}

.mobile {
  position: absolute;
  right: -150px;
  display: none;
}

.showMobile {
  right: 50%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 48px;
  transform: translate(50%, 50%);
  /* animation: goIn 0.3s ease-in-out; */
}

.fadeEnter {
  right: -100px;
  opacity: 0;
}

.fadeEnterActive {
  right: 50%;
  opacity: 1;
  transition: all 0.3s ease-in-out;
}

.fadeExit {
  right: 50%;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 48px;
  opacity: 1;
  transform: translate(50%, 50%);
}

.fadeExitActive {
  right: -100px;
  z-index: 4;
  display: flex;
  flex-direction: column;
  gap: 48px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translate(50%, 50%);
}
