.featuresElement {
  position: relative;
  max-width: 250px;
  padding: 16px;
  /* height: 180px; */
  /* background-color: var(--tint-orange-20); */
  /* background-color: var(--orange-300); */

  font-size: var(--text-big);
  font-weight: 500;
  color: var(--shade-orange-90);
  border-radius: 6px;
  /* box-shadow: var(--shadow-M); */
}

.featuresElementText {
  margin-top: 12px;
}

.featuresElementHeader {
  margin-top: 12px;
  font-size: var(--heading-s);
  font-weight: 800;
  color: var(--lime-green-900);
  /* font-size: var(--text-huge); */
}
