.container {
  position: absolute;
  top: 4px;
  right: 4px;
}

.container .tooltip {
  z-index: 3;
  padding: 8px;
  color: #222;
  background-color: var(--tint-orange-vivid-10);
  box-shadow: var(--shadow-s);

  /* transition: all 0.3s; */
  /* background-color: rgb(255, 153, 0); */
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.tooltipButton,
.tooltipButton:link,
.tooltipButton:visited {
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  padding: 2px;
  font-size: var(--text-medium);
  color: var(--shade-orange-vivid-90);
  text-decoration: none;
  cursor: pointer;
  background-color: var(--tint-orange-vivid-70);
  border: none;
  transition: color 0.3s, background-color 0.3s;
}

.tooltipButton:hover,
.tooltipButton:active {
  color: var(--tint-orange-vivid-90);
  background-color: var(--shade-orange-vivid-50);
}

.tooltipButton ion-icon {
  transition: color 0.3s;
}

.tooltipButton:hover ion-icon,
.tooltipButton:active ion-icon {
  color: crimson;
}
