.form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  padding: 16px;
  margin: auto;
  /* background-color: var(--tint-orange-20); */
  background-color: var(--orange-300);
  border-radius: 8px;
  box-shadow: var(--shadow-m);
}

.heading {
  margin-bottom: 20px;
  font-size: var(--heading-s);
}

.form button {
  align-self: center;
  /* align-self: flex-end; */
  /* max-width: 300px; */
  /* margin: 0 auto; */
}
