.wrapper {
  /* max-width: 500px; */
  /* margin: auto; */
  display: flex;
  gap: 16px;
  align-items: center;
  /* justify-content: space-between; */
}

.wrapper:not(div) .chooseCountDownType {
  margin: auto;
}

.chooseCountDownType {
  /* margin: auto; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 250px;
  max-height: 75px;
  border-radius: 8px;
}

.btns {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.btns ion-icon {
  width: 28px;
  height: 28px;
}

.btns button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
}
