@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Roboto, sans-serif;
}

:root {
  /* --color-orange-vivid-first: #d87620;
  --shade-orange-vivid-90: #160c03;
  --shade-orange-vivid-80: #2b1806;
  --shade-orange-vivid-70: #41230a;
  --shade-orange-vivid-50: #6c3b10;
  --shade-orange-vivid-30: #975316;
  --shade-orange-vivid-20: #ad5e1a;
  --shade-orange-vivid-10: #c26a1d;
  --tint-orange-vivid-90: #fbf1e9;
  --tint-orange-vivid-80: #f7e4d2;
  --tint-orange-vivid-70: #f3d6bc;
  --tint-orange-vivid-60: #efc8a6;
  --tint-orange-vivid-50: #ecbb90;
  --tint-orange-vivid-30: #e49f63;
  --tint-orange-vivid-20: #e0914d;
  --tint-orange-vivid-10: #dc8436;
  --color-blue-first: #759fbc;
  --shade-blue-90: #0c1013;
  --shade-blue-50: #3b505e;
  --shade-blue-20: #5e7f96;
  --tint-blue-90: #f1f5f8;
  --tint-blue-80: #e3ecf2;
  --tint-blue-70: #d6e2eb;
  --tint-blue-60: #c8d9e4;
  --tint-blue-50: #bacfde;
  --tint-blue-30: #9ebcd0;
  --tint-blue-20: #91b2c9;
  --color-gray-first: #333;
  --tint-gray-80: #d6d6d6;
  --tint-gray-50: #999;
  --tint-gray-20: #5c5c5c; */

  /* Fonts */
  /* --heading-xxxl: 72px;
  --heading-xxl: 60px;
  --heading-xl: 48px;
  --heading-l: 36px;
  --heading-m: 30px;
  --heading-s: 24px;
  --text-huge: 20px;
  --text-big: 18px;
  --text-medium: 16px;
  --text-small: 14px; */

  /* shadows */
  /* --shadow-xl: 0 4px 24px -3px #1c375a1f, 0 18px 64px -8px #1c324f30;
  --shadow-l: 0 3px 18px -2px #1c375a1f, 0 12px 48px -6px #1c324f30;
  --shadow-m: 0 8px 24px -4px rgb(28 50 79 / 19%),
    0 2px 6px -1px rgb(28 55 90 / 12%);
  --shadow-s: 0 3px 12px -1px rgb(28 52 84 / 13%),
    0 2px 4px -1px rgb(28 55 90 / 12%);
  --shadow-xs: 0 1px 4px -1px #1c304a85; */

  /* aaaa */
  --rt-opacity: 1 !important;
}

html {
  overflow-x: hidden;
  font-family: Roboto, sans-serif;
}

body {
  margin: 0;
  background-color: #fff;
}

#root {
  min-height: 100vh;
}

.darkSection {
  padding: 24px;
  margin: 48px 0;
  background-color: var(--shade-orange-vivid-90);
}

.pageTitleCenter {
  max-width: 100%;
  /* margin: 64px auto 0; */
  padding: 64px;
  text-align: center;
}

.pageTitleCenterPartly {
  display: flex;
  justify-content: center;
  max-width: 100%;
  /* margin: 64px auto 0; */
  padding: 64px;
}

.paddingTop {
  padding-top: 128px;
  margin-top: 0;
}

.paddingBottom {
  padding-bottom: 64px;
  margin-top: 0;
}

.blurElement {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  height: 100vh;
  background: #000000bf;
}

.developement {
  max-width: 1000px;
  margin: 128px auto;
  font-size: 72px;
  font-weight: 600;
  color: var(--color-gray-first);
  text-align: center;
  border-bottom: #09ada4 3px solid;
}

.pageEnter {
  opacity: 0;
  /* transform: scale(1.1); */
}

.pageEnterActive {
  opacity: 1;
  /* transform: scale(1); */
  transition: opacity 300ms, transform 300ms;
}

.pageExit {
  opacity: 1;
  /* transform: scale(1); */
}

.pageExitActive {
  opacity: 0;
  /* transform: scale(0.9); */
  transition: opacity 300ms, transform 300ms;
}

.wrapper {
  max-width: 1200px;
  margin: 64px auto 86px;
}

.wrapper2 {
  max-width: 1200px;
  padding: 64px 0 86px;
  margin: auto;
}

.marginTop {
  margin-top: 86px;
}

@media (max-width: 1200px) {
  :root {
    /* --heading-XXXXL: 40px;
    --heading-XXXL: 28px;
    --heading-XXL: 22px;
    --heading-XL: 18px;
    --heading-L: 14px;
    --heading-M: 12px;
    --heading-S: 10px; */

    --heading-xxxl: 46px;
    --heading-xxl: 40px;
    --heading-xl: 28px;
    --heading-l: 26px;
    --heading-m: 22px;
    --heading-s: 20px;
    --text-huge: 16px;
    /* --text-big: 14px; */
    /* --text-medium: 12px; */
    /* --text-small: 10px; */
  }
}

@media (max-width: 570px) {
  :root {
    /* --heading-L: 26px;
    --heading-M: 22px; */
    /* --heading-S: 20px; */
    /* --text-huge: 14px; */
    --text-big: 14px;
    --text-medium: 12px;
    --text-small: 10px;
  }
}

@media (max-width: 300px) {
  :root {
    --heading-xxxl: 40px;
    --heading-xxl: 32px;
    --heading-xl: 28px;
  }
}

.spinner {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spinner2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
