.wrapper {
  max-width: 1200px;
  margin: 128px auto;
}

.loginToGetAccess {
  max-width: 800px;
  margin: auto;
  font-size: 64px;
  font-weight: 600;
  color: var(--shade-orange-vivid-90);
  text-align: center;

  /* border-bottom: #09ada4 3px solid; */
}

.signup,
.signup:link,
.signup:visited {
  margin: 8px;
  font-size: 24px;
  color: var(--color-orange-vivid-first);
  transition: all 0.3s;
}

.signup:hover,
.signup:active {
  color: #4fcbc4;
}

.cardsH2 {
  font-weight: 400;
  color: var(--shade-orange-vivid-80);
}

.textContainer {
  margin-top: 32px;
  text-align: center;
}
