.timerNavigation {
  max-width: 350px;
  margin: 0 auto 64px;
}

.timerNavigationList {
  display: flex;
  justify-content: space-between;
}

.timerNavigationListElement,
.timerNavigationListElement a,
.timerNavigationListElement a:link,
.timerNavigationListElement a:visited {
  position: relative;
  font-size: 28px;
  color: var(--shade-orange-90);
  text-decoration: none;
  list-style: none;
  transition: all 0.3s;
}

.timerNavigationListElement a:hover,
.timerNavigationListElement a:active {
  color: var(--tint-orange-20);
}

.active::before {
  position: absolute;
  top: 50px;
  width: 100%;
  height: 3px;
  content: '';
  background-color: var(--shade-orange-20);
}
