.weatherCard {
  position: relative;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 8px;
  width: 100%;
  height: 225px;
  padding: 20px;
  background-color: var(--tint-orange-60);
  border-radius: 8px;
  box-shadow: var(--shadow-m);
}

.info {
  display: flex;
  flex-direction: column;
}

.name,
.name:link,
.name:visited {
  /* background-color: var(--tint-orange-20); */
  /* padding: 2px;
  border-radius: 4px; */

  margin-right: auto;
  font-size: var(--heading-s);
  font-weight: 600;
  color: var(--shade-orange-90);
  text-decoration: none;
  transition: all 0.3s;
}

.name:hover,
.name:active {
  color: var(--color-orange-first);
}

.otherInfo {
  display: flex;
  gap: 16px;
  margin-top: 8px;
}

.humidity {
  display: flex;
  gap: 4px;
  align-items: center;
}

.humidity ion-icon {
  width: 24px;
  height: 24px;
  color: var(--color-blue-first);
}

.wind {
  display: flex;
  gap: 4px;
  align-items: center;
}

.wind ion-icon {
  width: 24px;
  height: 24px;
  color: var(--shade-orange-20);
}

.temp {
  grid-row: 2;
  margin-top: auto;
  font-size: var(--heading-xl);
  font-weight: 800;
}

.iconWrapper {
  display: flex;
  flex-direction: column;
  grid-row: 1/3;
}

.iconWrapper img {
  align-self: center;
  width: 72px;
  height: 72px;
  margin-bottom: auto;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: var(--shadow-s);
}

.currentCondition {
  align-self: center;
  font-size: var(--text-big);
  font-weight: 500;
}

.favorite {
  position: absolute;
  top: 40px;
  right: 4px;
  color: crimson;
}

.favorite ion-icon {
  width: 32px;
  height: 32px;
}
