.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 24px;
}

.navList {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.navListItem {
  position: relative;
}

.navListItem {
  position: relative;
}

.wrapper ion-icon {
  cursor: pointer;
  position: relative;
  height: 32px;
  width: 32px;
  background-color: var(--tint-orange-30);
  border-radius: 6px;
  padding: 8px;
  transition: all 0.3s;
  z-index: 3;
}

.wrapper ion-icon:hover,
.wrapper ion-icon:active {
  background-color: var(--shade-orange-30);
}

.mobile {
  position: absolute;
  right: -150px;

  display: none;
}

.showMobile {
  right: 50%;
  transform: translate(50%, 50%);
  display: flex;
  z-index: 4;
  flex-direction: column;
  gap: 48px;
  /* animation: goIn 0.3s ease-in-out; */
}

/* @keyframes goIn {
  0% {
    right: 0;
  }

  100% {
    right: 50%;
    transform: translate(50%, 50%);
  }
} */

.fade-enter {
  opacity: 0;
  right: -100px;
}

.fade-enter-active {
  opacity: 1;
  right: 50%;
  transition: all 0.3s ease-in-out;
}

.fade-exit {
  display: flex;
  z-index: 4;
  flex-direction: column;
  gap: 48px;
  opacity: 1;
  right: 50%;
  transform: translate(50%, 50%);
}

.fade-exit-active {
  display: flex;
  z-index: 4;
  flex-direction: column;
  gap: 48px;
  opacity: 0;
  right: -100px;
  transform: translate(50%, 50%);
  transition: all 0.3s ease-in-out;
}

.blur {
  position: fixed;
  top: 0;
  right: -100%;
  width: 100%;
  height: 100vh;
  z-index: 2;
  /* background: rgba(0, 0, 0, 0.75); */
  background: rgba(239, 200, 166, 0.9);
  transition: all 0.3s;
}

.showBlur {
  top: 0;
  right: 0;
}

.fade-enter-blur {
  opacity: 0;
  right: -100%;
}

.fade-enter-active-blur {
  /* right: 50%; */
  opacity: 1;
  right: 0;
  transition: all 0.3s ease-in-out;
}

.fade-exit-blur {
  opacity: 1;
}

.fade-exit-active-blur {
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.btn {
  position: absolute;
  right: 30px;
  top: 30px;
  z-index: 3;
}
